<div class="page-sidebar">
    <div class="sidebar-menugroup">
        <div class="sidebar-grouptitle">个人中心</div>
        <ul class="sidebar-menu">
<!--            <li class="sidebar-menuitem"><a href="notifications.html">最新通知</a></li>-->
<!--            <li class="sidebar-menuitem active"><a href="/meeting/index">我的预定</a></li>-->
            <li class="sidebar-menuitem"><a href="/meeting/index">我的会议</a></li>
        </ul>
    </div>
<!--    <div class="sidebar-menugroup">-->
<!--        <div class="sidebar-grouptitle">用户管理</div>-->
<!--        <ul class="sidebar-menu">-->
<!--            <li class="sidebar-menuitem"><a href="departments.html">部门管理</a></li>-->
<!--            <li class="sidebar-menuitem"><a href="register.html">用户注册</a></li>-->
<!--            <li class="sidebar-menuitem"><a href="approveaccount.html">注册审批</a></li>-->
<!--            <li class="sidebar-menuitem"><a href="searchemployees.html">搜索用户</a></li>-->
<!--        </ul>-->
<!--    </div>-->
    <div class="sidebar-menugroup">
        <div class="sidebar-grouptitle">会议预定</div>
        <ul class="sidebar-menu">
            <li class="sidebar-menuitem"><a href="/meeting_room/add_meetingroom">添加会议室</a></li>
            <li class="sidebar-menuitem"><a href="/meeting_room/get_all">查看会议室</a></li>
            <!--                        <li class="sidebar-menuitem"><a href="bookmeeting.html">预定会议</a></li>-->
            <li class="sidebar-menuitem"><a href="/meeting/book_meeting">预定会议</a></li>
            <!--                        <li class="sidebar-menuitem"><a href="searchmeetings.html">搜索会议</a></li>-->
        </ul>
    </div>
</div>